/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: rgb(255, 255, 255);
}



/* ------------- index css ------------- */
.container{
	margin: 0 auto;
	padding-top: 1%; 
	width: 85%;
}

@media screen and (max-width : 510px)
{
	.container{
		margin: 0 auto;
		padding-top: 3%; 
		width: 98%;
	}
}

.nopadding{
	padding: 0 !important;
}

.nopadding-right{
	padding-right: 0 !important;
}

.nomargin{
	margin: 0 !important;
}

.nomargin-bottom{
	margin-bottom: 0 !important;
}

.header{
	padding-top: 5px;
}

.main-header{
	font-weight: 500;
	border-right: 2px solid rgb(6,68,128);
	line-height: 1;
	margin-bottom: 15px;
}

@media screen and (max-width : 768px)
{
	.main-header{
		font-weight: 500;
	    margin-bottom: 15px;
	    border-right: none;
	}
}

.sub-header{
	color: rgb(181,46,52);
	font-style: italic;
	font-weight: 600;
	line-height: 2;
}

.navbar{
	padding-top:0.7vw;
	min-height: 3vw;
}

.navbar{
	background-color: rgb(6,68,128);
}

@media screen and (max-width : 510px)
{
	.nav{
		width: auto !important;
		padding-left: 10px;
		padding-right: 10px;
	}
	.nav-text {
        display: none;
    }
    .glyphicon{
    	display: none;
    }
    .main-header{
		font-size: 18px;
	}

	.sub-header{
		font-size: 14px;
	}
}

.navbar .nav{
	width:100%;
	text-align: center;
	font-size: 13px;
}

.navbar .dropdown-title{
	cursor: pointer;
}

.nav a{
	color: white;
}

.nav div{
	padding-bottom: 5px;
}


.dropdown-title:focus .tab a, .dropdown-title:active .tab a, .dropdown-title:hover .tab a{
	color: rgb(6,68,128);
	text-decoration: none;
}

.dropdown-title:hover .tab, .dropdown-title:focus .tab, .dropdown-title:active .tab{
	background-color: white;
	border-radius: 5px;
}

.navbar .nav .active a{
	color: rgb(6,68,128);
	text-decoration: none;
}

.navbar .nav .active{
	background-color: white;
	border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 89%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    margin-top: 5px;
}

.dropdown-content a {
    color: #666666;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: center;  
    cursor: pointer; 
}

.dropdown-content a:hover {
    color: rgb(6,68,128); 
}

.dropdown-content .underline{
	border-bottom: 1px solid #cccccc;
}

.dropdown-title:hover .dropdown-content{
	display : block;
}

.dropdown-title:focus .dropdown-content{
	display : block;
}

.dropdown-title:active .dropdown-content{
	display : block;
}

.footer-logo{
	margin-top: 5% !important;
}

.nus-logo img{
	width: 100%;
}

.cornell-logo img{
	width: 100%;
}

.pwc-logo img{
	width: 100%;
}

.footer{
	margin: 0 0 3% 0;
	padding: 1vw 0 1vw 0;
	text-align: center;
	background-color: rgb(6,68,128);
	color:white;
}
/* ------------- end of index css ------------- */

/* ------------- home css -------------*/
.info-container .inactive{
	display: none;
}

.ranking-container{
	margin:2vw 0 2vw 0;
}

.top-country-container{
	margin-top: 8px;
    font-weight: 600;
    font-size: 17px;
}

.back-to-top-ten-container{
	cursor: pointer;
	color: rgb(58, 153, 216);
}

@media screen and (max-width : 1440px)
{
	.top-country-container{
    	font-size: 17px;
	}

	.back-to-top-ten-container{
		font-size: 16px;
	}
}

.top-ten-tab .ranking-container .ranking{
	position: relative;
	bottom: 3px;
    font-weight: 800;
    padding-left: 6px;
    border-bottom: 3px solid rgb(181,46,52);
}

.top-ten-tab .ranking-container .country{
	padding-left: 10px;
	color: rgb(58, 153, 216);
	cursor: pointer;
}

.search-container select{
	float: right;
    width: 60%;
}

.graph-header{
	font-size: 16px;
	display: inline-block;
	padding:5px 0 0 0;
}

.graph-header .red{ 
	font-weight: 600;
}

.home-ranking-container{
	padding-top: 5px;
	margin-top: -1vw;
}

.home-ranking-container .ranking{
	position: relative;
	bottom: 8px;
    font-size: 30px;
    font-weight: 800;
    padding-left: 6px;
    border-bottom: 4px solid rgb(181,46,52);
}

.home-ranking-container .country{
	padding-left: 10px;
	font-size: 40px;
	color: rgb(58, 153, 216);
}

.legend-container{
	margin-top: 5px;
	border: 1px solid #aaaaaa;
	padding: 2px 2px 1px 2px;
	border-radius: 5px;
}

.legend-container .inline{
	display: inline-flex;;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.gi-7x{font-size: 7em;}
.gi-10x{font-size: 10em;}

.legend-1 .color{
	color: #e54d42;
}
.legend-2 .color{
	color: #f19b2c;
}
.legend-3 .color{
	color: #f0c330;
}
.legend-4 .color{
	color: #239f85;
}
.legend-5 .color{
	color: #3a99d8;
}
.legend-6 .color{
	color: #2f81b7;
}
.legend-7 .color{
	color: #9a5cb4;
}
.legend-8 .color{
	color: #be3a31;
}
.legend-9 .color{
	color: #29bb9c;
}
/*
@media screen and (max-width : 510px)
{
	.legend-1 .name{
		color: #e54d42;
	}
	.legend-2 .name{
		color: #f19b2c;
	}
	.legend-3 .name{
		color: #f0c330;
	}
	.legend-4 .name{
		color: #239f85;
	}
	.legend-5 .name{
		color: #3a99d8;
	}
	.legend-6 .name{
		color: #2f81b7;
	}
	.legend-7 .name{
		color: #9a5cb4;
	}
	.legend-8 .name{
		color: #be3a31;
	}
	.legend-9 .name{
		color: #29bb9c;
	}
}*/

.home-title-container{
	padding-top: 10px;
}

@media screen and (max-width : 510px)
{
	.home-title{
		font-size: 18px !important;
	}
}

.home-title{
	font-size: 2.4vw;
    border-bottom: 1px solid #aaaaaa;
    border-bottom-style: dashed;
    margin-bottom: 5px;
    font-weight: 500;
}

.tab-panel{
	cursor: pointer;
	padding-left: 30px !important;
}

.component-selector .active{
	color:white;
	background-color: rgb(6,68,128);
}

.component-selector ul li{
	list-style-type: none;
	padding: 5px 0 5px 5px;
    border-bottom: 1px solid #aaaaaa;
    border-bottom-style: dotted;
}

.component-selector .tab-content-container{
	background-color: rgb(6,68,128);
}

.component-selector .tab-content{
	padding: 2em;
	color: white;
}

.component-selector .row {
	width: 100%;
    display: table;
}

.component-selector [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.content-factor .gi-1x{
	display: -webkit-inline-box;
}

.component-img-holder img{
	width:100%;
}

@media screen and (max-width : 767px)
{
	.content-title{
		display: none !important;
	}
}

@media screen and (max-width : 767px)
{
	.component-content-container, .component-img-holder{
		padding: 0 !important;
	}
}

/* ------------- vmap -------------*/
#vmap{
	text-align: center;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	height:32vw;
}

.jqvmap-label{
	position: absolute;
    background: #555555;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid white;
}
.jqvmap-zoomin{
	top: 10px;
}

.jqvmap-zoomout{
	top: 30px;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #064480;
    padding: 3px;
    color: white;
    width: 15px;
    height: 15px;
    cursor: pointer;
    line-height: 8px;
    text-align: center;
}

@media screen and (max-width : 768px)
{
	.map-container #vmap{
		height:50vw !important;
	}
}
/* ------------- end of vmap -------------*/

/* ------------- end of home css -------------*/

/* ------------- ranking css -------------*/
.ranking-container{
	margin-top: 4%;
}

.year-selector{
	padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #666666;
    border-bottom-style: dashed;
}

.selector{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.year-selector select{
	width: 20%;
}

.quick-links{
	text-align: center;
	width: 90%;
	padding-top: 1vw;
	margin: 0 auto;
}

.quick-links .link{
	color: rgb(6,100,160);
	cursor: pointer;
}

.ranking-options{
	margin-top: 4%;
}

.ranking-options select{
	width:20%;
}

.ranking-options button{
	padding: 5px 4vw 5px 4vw;
	float:right;
	background-color: rgb(6,68,128);
	color:white;
	border: none;
}

.reminder{
	margin-bottom: 3px;
	font-weight: 600;
	color:rgb(181,46,52);
	font-style: italic;
}

.ranking-table{
	width: 100%;
	margin-top: 3%;
}

.ng-table th.sortable .sort-indicator {
    display: inherit;
}

.ranking-table table>thead{
	text-align: center;
}

.ranking-table .btn{
	font-size: 10px;
}

.ranking-table table{
	display: block;
    overflow-x: auto;  
    text-align: center; 
}

.ng-table th{
	text-align: left !important;
	vertical-align: middle !important;
}

.ranking-table td p {
  	text-overflow: ellipsis !important;
    overflow: hidden; 
    white-space: nowrap;
}

.ranking-table thead{
	background-color: rgb(6,68,128);
	color: white;
}

.ranking-table thead>tr>th .ng-table-header{
	text-align: center;
    width: 180px;
}

.ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before{
	border-color: #fff transparent !important;
}

.ng-table th.sortable .sort-indicator {
    position: relative !important;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: rgba(255, 255, 255, 0.2) !important;
    text-shadow: none !important;
}

.table>thead:first-child>tr:first-child>th {
    border-right: 1px solid !important;
}

.ranking-table .table>tbody>tr>td {
	padding: 8px !important;
    border: 1px solid #ddd !important;
    vertical-align: middle !important;
}

.ranking-table .table>tbody>tr>td p{
	margin: 0 !important; 
}

.row0 {
        background-color: #eeeeee;
}

.ranking-table .table>tbody>tr{
	cursor: pointer;
}

.ranking-table .table>tbody>tr:hover{
	background: #cccccc;
	color: black;
	box-shadow: inset 0 0 0 3px #3a79
}

.numberOfCountriesPage{
	float: right;
}

@media screen and (max-width : 648px){
	.numberOfCountriesPage{
		position: relative;
		bottom: 62px;
		right: 170px;
		font-size: 13px;
	}
}

/* ------------- end of ranking css ------------- */

/* ------------- analysis css ------------- */
.backToRanking{
	float: right;
	color: rgb(181,46,52);
	cursor: pointer;
}

.detail-table table{
	overflow-x: auto;   
	display: block;
}

.detail-table table .column-1{
	text-align: center;
	width: 16%;
	background-color: rgb(6,68,128);
	color: white;
}

.detail-table table .select{
	text-align: center;
	background-color: #efefef;
}

.detail-table table .select span{
	color: rgb(6,68,128);
	font-weight: 500;
	font-size: 20px;
}

.detail-table table .column-2{
	color: rgb(6,68,128);
	font-weight: 500;
	font-size: 20px;
	background-color: #efefef;
}

.detail-table table .column-3{
	color: #94ce58;
	font-weight: 500;
	font-size: 20px;
	background-color: #efefef;
}

.detail-table table .column-4{
	color: rgb(255,128,0);
	font-weight: 500;
	font-size: 20px;
}

.detail-table table .compared{
	text-align: center;
}

.detail-table table .compared span{
	color: rgb(255,128,0);
	font-weight: 500;
	font-size: 20px;
}

.detail-table table .column-2, .column-3, .column-4{
	text-align: center;
	width: 28%;
} 

.detail-table table .column-5{
	text-align: center;
	width: 84%;
} 

.detail-table table>tbody>tr>td{
	border-right:1px solid #dddddd;
	padding: 15px 5px 15px 5px;
	vertical-align: middle;
}

.radar-chart-holder{
	min-width: 1000px;
}

.radar-chart-holder canvas{
	top: 20px !important;
}

.tips{
	max-width: 250px;
    font-size: 13px;
    background-color: #deebf6;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-justify{
	text-align: justify;
}

.tips-padding{
	padding: 0 0 0 21px !important;
}

/* ------------- end of analysis css ------------- */

/* ------------- research and publication css ------------- */
.blue-title{
	padding: 20px 10px 20px 10px;
}

.blue-title span{
	color: rgb(6,68,128);
	font-weight: 600;
}

.red-title{
	padding: 5px 15px 5px 15px;
}

.red-title span{
	color: rgb(181,46,52);
	font-weight: 600;
}

.normal-text{
	padding: 5px 20px 5px 20px;
}

.download-container{
	padding: 15px 20px 15px 20px;
}

.download-container .download-image img{
	width: 100%;
}

.one-paper-container .download-image img{
	width: 80%;
}

.one-pdf-container{
	text-align: center;
}	

.one-paper-container{
	text-align: left;
}	

.download-fileName a{
	color: #5e9cd3;
	text-decoration: underline;
	cursor: pointer;
}

.research-paper{
	margin-top: 20px;
}
/* ------------- end of research and publication css ------------- */

/* ------------- about us css ------------- */
.background-blue{
	padding: 20px 15px 0px 15px;
}

.background-blue span{
	color: #3276b4;
	font-weight: 500;
	line-height: 1;
}

.background-side-text{
	padding: 20px 15px 20px 15px;
	background-color: #eff5fb;
	border-radius: 20px;
}

.background-side-text span{
	font-style: italic;
	color: rgb(181,46,52);
	font-weight: 600;
} 
/* ------------- end of about us css ------------- */

/* ------------- reponsive text size ------------- */

@media screen and (max-width : 2400px){
	.main-header{
		font-weight: 500;
		font-size: 35px;
		max-width: 720px;
	}

	.header-border{
		max-width: 740px;
	}

	.sub-header{
		font-size: 22px;
	}

	.navbar .nav{
		font-size: 16px;
	}

	.top-country-container{
    	font-size: 23px;
	}

	.back-to-top-ten-container{
		font-size: 24px;
		padding-bottom: 10px;
	}

	.top-ten-tab .ranking-container .ranking{
    	font-size: 25px;
	}

	.top-ten-tab .ranking-container .country{
		font-size: 25px;
	}

	.barchart-holder canvas{
		max-height: 400px !important;
	}

	.legend-container .name{
		font-size: 16px;
	}

	.gi-1x{font-size: 2em;display: block;}

	.introduction-content{
		font-size: 20px;
	}

	.component-selector ul li{
		font-size: 20px;
	}

	.component-selector .tab-content .content-title{
		font-size: 25px;
		padding-bottom: 10px;
	}

	.tab-content .row .content{
		font-size: 23px;
	}

	.content-factor{
		font-size: 19px;
	}

	.selector{
		font-size: 21px;
	}

	.quick-links{
		font-size: 18px;
	}

	.ranking-options{
		font-size: 18px;
	}

	.reminder{
		font-size: 18px;
	}

	.ranking-table table>thead{
		font-size: 15px;
	}

	.ranking-table .table>tbody>tr {
	    font-size: 16px;
	}

	.detail-table table .column-1{
	    font-size: 16px;
	}

	.footer{
		font-size:15px;
	}

	.blue-title span{
		font-size: 28px;
	}

	.red-title span{
		font-size: 25px;
	}

	.normal-text{
		font-size: 18px;
	}

	.background-blue span{
		font-size: 18px;
	}

	.background-side-text span{
		font-size: 20px;
	}
}

@media screen and (max-width : 1440px){
	.main-header{
		font-size: 30px;
	}

	.header-border{
		max-width: 635px;
	}

	.sub-header{
		font-size: 16px;
	}

	.navbar .nav{
		font-size: 13px;
	}

	.top-country-container{
    	font-size: 17px;
	}

	.back-to-top-ten-container{
		font-size: 16px;
	}

	.top-ten-tab .ranking-container .ranking{
    	font-size: 18px;
	}

	.top-ten-tab .ranking-container .country{
		font-size: 18px;
	}

	.legend-container .name{
		font-size: 13px;
	}

	.gi-1x{font-size: 1em;display: block;}

	.introduction-content{
		font-size: 13px;
	}

	.component-selector ul li{
		font-size: 13px;
	}

	.component-selector .tab-content .content-title{
		font-size: 20px;
		padding-bottom: 10px;
	}

	.tab-content .row .content{
		font-size: 15px;
	}

	.content-factor{
		font-size: 13px;
	}

	.selector{
		font-size: 16px;
	}

	.quick-links{
		font-size: 13px;
	}

	.ranking-options{
		font-size: 13px;
	}

	.reminder{
		font-size: 15px;
	}

	.ranking-table table>thead{
		font-size: 13px;
	}

	.ng-table-pager{
		font-size: 9px;
	}

	.footer{
		font-size:10px;
	}

	.blue-title span{
		font-size: 24px;
	}

	.red-title span{
		font-size: 21px;
	}

	.normal-text{
		font-size: 14px;
	}

	.background-blue span{
		font-size: 15px;
	}

	.background-side-text span{
		font-size: 18px;
	}
}

@media screen and (max-width : 1242px){
	.header-border{
		max-width: 530px;
	}

	.sub-header{
		margin-top: 34px;
	}
}

@media screen and (max-width : 1072px){
	.header-border{
		max-width: 530px;
	}

	.sub-header{
		margin-top: 0px;
	}
}

@media screen and (max-width : 1044px){
	.header-border{
		max-width: 350px;
	}
}

@media screen and (max-width : 510px){
	.footer{
		font-size:6px;
	}
}

/* ------------- end of reponsive text size ------------- */

.blue{
	color: rgb(6,68,128);
}

.red{
	color: rgb(181,46,52);
}

.orange{
	color: rgb(255,128,0);
}

.spinner {
	top:35%;
	width: 100%;
    position: absolute;
    display: block;
    margin: auto 0;  
}

.spinner img{
	margin-left: 30%;
    width: 30%;
}

.ranking-spinner {
	top:40%;
	width: 100%;
    position: absolute;
    display: block;
    margin: auto 0;  
}

.ranking-spinner img{
	margin-left: 36%;
    width: 10%;
}

.component-spinner{
	top: 35%;
    width: 150%;
    left: -10%;
    position: absolute;
    display: block;
    margin: auto 0;
    z-index: 1;
}

.component-spinner img{
	margin-left: 36%;
    width: 10%;
}

.pagination {
	margin: 0;
}