<div class="aboutus-container">
  <div class="row nopadding nomargin" id="aboutusCtrl" ng-controller="aboutusBackgroundCtrl">
    <div class="ranking-spinner" ng-show="loader">
        <img src="img/ajax-loader.gif"/>
    </div>

    <div class="background-blue">
      <span>
        <div class="top" id="top"></div>
      </span>
    </div>

    <div class="blue-title">
        <span>
          Background of the Index
        </span>
    </div>

    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="normal-text">
        <div class="leftbottom" id="leftbottom"></div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="background-side-text">
        <span>
          <div class="rightbottom" id="rightbottom"></div>
        </span>
      </div>
    </div>
  </div>
</div>