<div class="aboutus-container">
  <div class="row nopadding nomargin" id="aboutusCtrl" ng-controller="aboutusCtrl">
    <div class="ranking-spinner" ng-show="loader">
        <img src="img/ajax-loader.gif"/>
    </div>

    <div class="blue-title">
      <span>
        About the Co-publishers
      </span>
    </div>

    <div class="copublisher-container">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="logo-container nus-logo">
          <img src="img/CoBrand-CAMRI_COLS.jpg" alt="Chania">
        </div>
        <div class="normal-text nopadding" style="margin-top: 15px">
          The Centre for Asset Management Research & Investments (CAMRI) is committed to the betterment of research and education in asset management, and promotes best practices in Asian fund management by using a state of the art laboratory facility with hands-on experiential learning.<br><br>

CAMRI’s goal is to prepare our students to become well-trained and well-intentioned money managers and research analysts via hands-on, team-based and experiential learning at both the academic and professional levels. We achieve this by equipping our facilities with the best research, teaching and learning tools available in the asset management industry, and to serve as an incubator and generator of new investment research, strategies, and ideas. In the process, we also hope to be recognized as Asia’s leading centre for asset management research & investments, which is part of our aim in being Asia’s premier Global Business School.<br><br>

For feedback and queries, contact us at camri@nus.edu.sg
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="logo-container cornell-logo">
          <img src="img/SC-Johnson-parker-center-rgb.png" alt="Chania">
        </div>
        <div class="normal-text nopadding" style="margin-top: 4px">
          In 1998, with support from Cornell alumnus Jeffrey P. Parker ’65, MEng ’66, MBA ’70, Johnson leadership and faculty established the Parker Center for Investment Research to provide a world-class education in security analysis and asset management to future generations of business leaders.<br><br>

Through the Parker Center, students receive instruction and training in the latest analytical tools used by Wall Street professionals in preparation for careers in the investment research and asset management industry. The $1 million Cayuga Fund allows students to manage real money as part of a formal class in investments. Exposure to the latest thought leadership in equity valuation and capital markets gives students a unique educational experience in asset management. Flagship MBA and undergraduate events, involving participation from top peer schools and corporate sponsors, including the MBA and Undergraduate Stock Pitch Challenges and the pioneering Women in Investing (WIN) conferences provide valuable networking and recruiting opportunities to students.  Time and again, students point to the Parker Center's performance learning curriculum and signature events as critical to securing internships and landing coveted jobs at top investment firms.<br><br>

For feedback and queries, contact us at 
parker_center-mailbox@cornell.edu

        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="logo-container pwc-logo">
          <img src="img/partner-company.png" alt="Chania">
        </div>
        <div class="normal-text nopadding" style="margin-top: 2px">
          Partner company description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text description text


<br><br>
XXX creates value for our clients, people and communities in a changing world. 

      </div>
    </div>
  </div>
</div>