<div class="aboutus-container">
  <div class="row nopadding nomargin" id="aboutusCtrl" ng-controller="aboutusCopublishersCtrl">
    <div class="ranking-spinner" ng-show="loader">
        <img src="img/ajax-loader.gif"/>
    </div>

    <div class="blue-title">
      <span>
        About the Co-publishers
      </span>
    </div>

    <div class="copublisher-container">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="logo-container nus-logo">
          <img src="admin/ajax/footer_logo/nus-logo.jpg" alt="Chania">
        </div>
        <div class="normal-text nopadding" style="margin-top: 15px" id="nus-intro">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="logo-container cornell-logo">
          <img src="admin/ajax/footer_logo/cornell-logo.jpg" alt="Chania">
        </div>
        <div class="normal-text nopadding" style="margin-top: 4px" id="cornell-intro">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="logo-container pwc-logo">
          <img src="admin/ajax/footer_logo/partner-company-logo.jpg" alt="Chania">
        </div>
        <div class="normal-text nopadding" style="margin-top: 2px" id="partner-intro">
        </div>
      </div>
    </div>
</div>