<div class="detail-container">
  <div class="row nopadding nomargin" id="detailCtrl" ng-controller="detailCtrl">
    <div class="detail-table">
      <table class="table">

        <tr>
          <td class="column-1">
            Country/Region
          </td>
          <td class="column-2">
            {{selected.countryName}}
          </td>
          <td class="column-3"> 
            {{region.regionName}}
          </td>
          <td class="compared">    
              Compare with another country: <br/><br/>
              <select ng-model="comparedCountry" ng-options="x for x in countryLists" ng-change="selectComparedCountry(comparedCountry)"></select> <br/><br/>
              <span>{{comparedCountry}}</span>
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Investor Friendliness Rank
          </td>
          <td class="column-2">
            {{selected.investor_friendliness_rank}}
          </td>
          <td class="column-3"> 
            {{region.investor_friendliness_rank}}
          </td>
          <td class="column-4">    
            {{compared.investor_friendliness_rank}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Radar Chart
          </td>
          <td colspan="3" class="radar-chart-holder">
            <canvas id="radar" class="chart chart-radar"
              chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colors="colours" chart-dataset-override="datasetOverride">
            </canvas>
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Legal & Regulatory Environment
          </td>
          <td class="column-2">
            {{selected.legal_and_regulatory_environment}}
          </td>
          <td class="column-3"> 
            {{region.legal_and_regulatory_environment}}
          </td>
          <td class="column-4">    
            {{compared.legal_and_regulatory_environment}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Market Development
          </td>
          <td class="column-2">
            {{selected.market_development}}
          </td>
          <td class="column-3"> 
            {{region.market_development}}
          </td>
          <td class="column-4">    
            {{compared.market_development}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Exchange Controls and Capital Restriction
          </td>
          <td class="column-2">
            {{selected.exchange_controls_and_capital_restriction}}
          </td>
          <td class="column-3"> 
            {{region.exchange_controls_and_capital_restriction}}
          </td>
          <td class="column-4">    
            {{compared.exchange_controls_and_capital_restriction}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Corporate Governance
          </td>
          <td class="column-2">
            {{selected.corporate_governance}}
          </td>
          <td class="column-3"> 
            {{region.corporate_governance}}
          </td>
          <td class="column-4">    
            {{compared.corporate_governance}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            AUM Levels and Growth
          </td>
          <td class="column-2">
            {{selected.aum_levels_and_growth}}
          </td>
          <td class="column-3"> 
            {{region.aum_levels_and_growth}}
          </td>
          <td class="column-4">    
            {{compared.aum_levels_and_growth}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Banking System
          </td>
          <td class="column-2">
            {{selected.banking_system}}
          </td>
          <td class="column-3"> 
            {{region.banking_system}}
          </td>
          <td class="column-4">    
            {{compared.banking_system}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Ease of Doing Business
          </td>
          <td class="column-2">
            {{selected.ease_of_doing_business}}
          </td>
          <td class="column-3"> 
            {{region.ease_of_doing_business}}
          </td>
          <td class="column-4">    
            {{compared.ease_of_doing_business}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Political Environment
          </td>
          <td class="column-2">
            {{selected.political_environment}}
          </td>
          <td class="column-3"> 
            {{region.political_environment}}
          </td>
          <td class="column-4">    
            {{compared.political_environment}}
          </td>
        </tr>

        <tr>
          <td class="column-1">
            Accounting System
          </td>
          <td class="column-2">
            {{selected.accounting_system}}
          </td>
          <td class="column-3"> 
            {{region.accounting_system}}
          </td>
          <td class="column-4">    
            {{compared.accounting_system}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>