<script type="text/javascript" src="js/jquery.vmap.js"></script>
<script type="text/javascript" src="js/jquery.vmap.world.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.vmap.sampledata.js"></script>


<script>
	jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
          	map: 'world_en',
		    backgroundColor: '#ffffff',
		    borderColor: '#444444',
		    borderOpacity: 0.4,
		    borderWidth: 1,
		    color: '#cccccc',
		    enableZoom: true,
		    hoverColor: '#064480',
		    hoverOpacity: null,
		    normalizeFunction: 'linear',
		    scaleColors: ['#b6d6ff', '#005ace'],
		    selectedColor: '#064480',
		    selectedRegions: null,
		    showTooltip: true,
		    onRegionClick: function(element, code, region)
		    {
		        angular.element('#dataCtrl').scope().updateGraph(region);
		        angular.element('#dataCtrl').scope().$apply();
		    }
        });
    });
</script>

<div class="map-container">
	<div class="row" id="dataCtrl" ng-controller="dataCtrl">
		<div class="col-md-7 col-sm-12">
			<div id="vmap" style="height: 30vw;"></div>
		</div>
		<div class="col-md-5" >
			<div class="search-container">
				<span>
					Select Region:
				</span>
				<select ng-model="selectedRegion" ng-options="x for x in regionLists" ng-change="updateGraph(selectedRegion)"></select>
			</div>
			<div class="graph-header">
				<span class="blue">
    				INVESTER
    			</span>
    			<span class="red"> 
    				FRIENDLINESS
    			</span>
    			<span class="blue">
    				RANK
    			</span>
			</div>
			<div class="ranking-container">
				<span class="ranking blue">
					{{ rankOfSelectedRegion }}
				</span>
				<span class="region">
					{{ nameOfSelectedRegion }}
				</span>
			</div>
			<div >
			  <canvas id="bar" class="chart chart-bar" 
			    chart-data="goal.data" 
			    chart-labels="goal.labels" 
			    chart-options="goal.options" 
			    chart-series="goal.series" 
			    chart-dataset-override="goal.datasetOverride">			    	
			   </canvas>
			</div>
		</div>
	</div>
</div>