<div class="research-publication-container">
  <div class="row nopadding nomargin" id="researchPublicationCtrl" ng-controller="publicationCtrl">
    <div class="ranking-spinner" ng-show="loader">
        <img src="img/ajax-loader.gif"/>
    </div>

    <div class="blue-title">
      <span>
        NUS-Cornell GIFI Publications
      </span>
    </div>

    <div class="red-title">
      <span>
        <div class="firstHeader" id="firstHeader"></div>
      </span>
    </div>

    <div class="normal-text">
      <div class="firstHeaderDescription" id="firstHeaderDescription"></div>
    </div>

    <div class="download-container col-md-9 col-sm-9 col-xs-9">
      <div class="col-md-2 col-sm-3 col-xs-4 one-pdf-container" ng-repeat="pdf in pdfLists">
        <div class="download-image">
          <img ng-src="{{ pdf.downloadImageSrc }}"/>
        </div>
        <br>
        <div class="download-fileName">
          <a ng-href="{{pdf.link}}" target="_blank">{{ pdf.name }}</a>
        </div>
      </div>
    </div>

    <div class="red-title col-md-12 col-sm-12 col-xs-12">
      <span>
        <div class="secondHeader" id="secondHeader"></div>
      </span>
    </div>

    <div class="normal-text col-md-12 col-sm-12 col-xs-12">
      <div class="secondHeaderDescription" id="secondHeaderDescription"></div>
    </div>

    <div class="download-container col-md-9 col-sm-9 col-xs-9">
      <div class="col-md-2 col-sm-3 col-xs-4 one-pdf-container" ng-repeat="pdf in historicalIndicesList">
        <div class="download-fileName">
          <a ng-href="{{pdf.link}}" target="_blank">{{ pdf.displayName }}</a>
        </div>
      </div>
    </div>
  </div>
</div>