<div class="research-publication-container">
  <div class="row nopadding nomargin" id="researchPublicationCtrl" ng-controller="researchPublicationCtrl">
    <div class="ranking-spinner" ng-show="loader">
        <img src="img/ajax-loader.gif"/>
    </div>

    <div class="blue-title">
      <span>
        NUS-Cornell GIFI publications
      </span>
    </div>

    <div class="red-title">
      <span>
        {{latestYear}} Inangural GIFI
      </span>
    </div>

    <div class="normal-text">
      To access the full report, executive summary or appendices please click on the icons below:
    </div>

    <div class="download-container">

    </div>

    <div class="red-title">
      <span>
        Historical indices
      </span>
    </div>

    <div class="normal-text">
      For the full reports of previous indices, please click on the links below:
    </div>

    <div class="download-container">

    </div>
  </div>
</div>