<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/ng-table.css"/>
    </head>
    <body ng-controller="gifiMainController">
    	<div class="container">
    		<div class="header">
    			<div class="row">
    				<div class="col-sm-7 nopadding-right max-740">
    					<div class="main-header">
    						<span class="blue">
    							GLOBAL INVESTOR
    						</span>
    						<span class="red"> 
    							FRIENDLINESS
    						</span>
    						<span class="blue">
    							INDEX
    						</span>
    					</div>
    				</div>
    				<div class="col-sm-5">
    					<div class="sub-header">
    						<span>
    							Expanding Investment Management Frontiers
    						</span>
    					</div>
    				</div>
    			</div>
    		</div>

			<div class="navbar">
		    	<ul class="nav navbar-nav row">
                    <div class="col-sm-3 col-xs-3 dropdown-title">
                        <li ng-class="navClass('home')" class="tab" ng-click="loadHome()"><a href='' ><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                    </div>
                    <div class="col-sm-3 col-xs-3 dropdown-title">
                        <li ng-class="navClass('ranking')" class="tab"><a href='' ><span class="glyphicon glyphicon-stats"></span>&nbsp;Ranking<span class="nav-text"> & Analysis</span></a></li>
                        <div class="dropdown-content">
                          <a ng-click="loadRanking()" class="underline">Ranking</a>
                          <a ng-click="loadAnalysis()">Analysis</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 dropdown-title">
                        <li ng-class="navClass('research_publication')" class="tab"><a href=''><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Research<span class="nav-text"> & Publications</span></a></li>
                         <div class="dropdown-content">
                          <a class="underline" ng-click="loadPublication()">NUS-Cornell GIFI publications</a>
                          <a ng-click="loadResearch()">Research Papers and Thought Leadership</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 dropdown-title">
                        <li ng-class="navClass('about')" class="tab"><a href='' ><span class="glyphicon glyphicon-user"></span>&nbsp;About<span class="nav-text"> Us</span></a></li>
                        <div class="dropdown-content">
                          <a class="underline" ng-click="loadBackground()">Background of the Index</a>
                          <a ng-click="loadCopublisher()">About the Co-publishers</a>
                        </div>
                    </div>                
		    	</ul>
		    </div>
		  
		  	<div ng-view></div>

            <div class="footer-logo">
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="nus-logo">
                                <img src="img/CoBrand-CAMRI_COLS.jpg" alt="Chania">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="cornell-logo">
                                <img src="img/SC-Johnson-parker-center-rgb.png" alt="Chania">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="pwc-logo">
                                <img src="img/partner-company.png" alt="Chania">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <span>
                    2017 Copyright &copy; National University of Singapore. All Rights Reserved. Co-published and supported by CAMRI, Parker Center and &lt;partner&gt;. 
                </span>
            </div>
    	</div>

        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/ng-table.min.js"></script>
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
	   	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	    <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/homeCtrl.js"></script>  	
        <script type="text/javascript" src="app/rankingCtrl.js"></script>      
        <script type="text/javascript" src="app/analysisCtrl.js"></script> 
        <script type="text/javascript" src="app/researchPublicationCtrl.js"></script> 
        <script type="text/javascript" src="app/aboutusCtrl.js"></script>      
    </body>
</html>
