<div style="background-color: #F7F7F7 !important">
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Welcome, admin!</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" ng-model="signinUserID" required autofocus/>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" ng-model="signinPassword" required/>
          </div>
          <div>
            <button class="btn btn-default submit" href="index.html" type="submit" ng-click="adminSignIn(signinUserID, signinPassword)">Log in</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
    
            <div class="clearfix"></div>
            <br />

            <div>
              <p>&copy;2017 All Rights Reserved.</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>