#line{
    width:85% !important;
    height: 130% !important;
}

#chart_plot_01{
    text-align: center;
}

.dashboard_graph{}

.display{
	display: block !important;
}

.notDisplay{
	display: none !important;
}

.background-active{
	background-color: rgba(255,255,255,.06) !important;
}

.partingline{
	border-bottom: 2px solid #E6E9ED;
    margin: 20px 0 20px 0;
}

.one-info{
	padding: 15px 5px 15px 5px;
}

.spinner {
	top:40%;
	width: 90%;
    position: absolute;
    display: block;
    margin: auto 0;  
}

.spinner img{
	margin-left: 36%;
    width: 10%;
}